if controllerAction === 'edit'
  - var formAction = '/admin/course/save/' + course.id
  - var buttonTitle = i18n('btnSaveCourse')
else
  - var formAction = '/admin/course/create'
  - var buttonTitle = i18n('btnUpdateCourse')
form.form-horizontal(method='POST', action= formAction)
  .form-group
    input.form-control(type='text', placeholder= i18n('placeholderCourseCode'), name='course_code', value=course.course_code || '')
  .form-group
    input.form-control(type='text', placeholder= i18n('placeholderCourseSection'), name='section', value=course.section || '')
  .form-group
    input.form-control(type='text', placeholder= i18n('placeholderCourseSession'), name='session', value=course.session || '')
  .form-group
    input.form-control(type='email', placeholder= i18n('placeholderProfessorEmail'), name='professorEmail', value=course.professorEmail || '')
  if controllerAction === 'edit'
    .form-group
      table.table.table-responsive
        thead
          tr
            th= i18n('labelStudent')
            th A
            th B
            th C
            th D
            th F
        tbody
          each grade in grades
            tr
              td= grade.student_number
              td
                if grade.value === 'A'
                  input(type='radio', name= grade.grade_id, value='A' checked)
                else
                  input(type='radio', name= grade.grade_id, value='A')
              td
                if grade.value === 'B'
                  input(type='radio', name= grade.grade_id, value='B' checked)
                else
                  input(type='radio', name= grade.grade_id, value='B')
              td
                if grade.value === 'C'
                  input(type='radio', name= grade.grade_id, value='C' checked)
                else
                  input(type='radio', name= grade.grade_id, value='C')
              td
                if grade.value === 'D'
                  input(type='radio', name= grade.grade_id, value='D' checked)
                else
                  input(type='radio', name= grade.grade_id, value='D')
              td
                if grade.value === 'F'
                  input(type='radio', name= grade.grade_id, value='F' checked)
                else
                  input(type='radio', name= grade.grade_id, value='F')
  .form-group
    button.btn.btn-default(type='submit')= buttonTitle
  input(type='hidden', name='_csrf', value='#{_csrf}')
