extends ../layout

block content
  .container.container1
    include ../_flash_stage
    .main-content.paddingtop5
      h1=i18n('coursesPanelTitle')
      h3=i18n('coursesSemester') + " " + i18n('coursesYear')
      br
      .row
        .col-md-8
          table.table.table-responsive
            thead
              tr
                th
                  h4=i18n('coursesTableHeadName')
            tbody
              each course in courses
                tr
                  td 
                    a(href='/admin/course/edit/#{course.id}') #{course.course_code} - #{course.section} - #{course.session}
        .col-md-1
          a.btn.btn-default(href='/admin/course/new') +