extends ../layout

block content
  .container
    include ../_flash_stage
  .container.container1
    .main-content.paddingtop5
      h1=i18n('usersPanelTitle')
      br
      .row
        .col-md-8
          table.table.table-responsive
            thead
              tr
                th
                  h4=i18n('usersTableHeadName')
                th
                  h4=i18n('usersTableHeadRole')
            tbody
              each user in users
                tr
                  td
                    a(href='/admin/user/edit/#{user.id}') #{user.email}
                  if user.role === 'admin'
                    td= i18n('labelAdmin')
                  else
                    td= i18n('labelProfessor')
        .col-md-1
          a.btn.btn-default(href='/admin/user/new') +