extends ../layout

block content
  .container
    include ../_flash_stage
  .container.container1.backGallo
    .landing-page
      .jumbotron(style="opacity:0.7; filter:alpha(opacity=40); color:gray")
        .landing-page-text-header
          h2.text-center= i18n('labelWelcome')
          h3.text-center= i18n('labelWelcome1')
        .row
          .col-md-4
            form.form-horizontal(method='POST', action='/authentication/login', role='form')
              .form-group
                input.form-control(type='email', placeholder= i18n('placeholderEmail'), name='email', required= true)
              .form-group
                input.form-control(type='password', placeholder= i18n('placeholderPassword'), name='password', required= true)
              .form-group
                button.btn.btn-default(type='submit')= i18n('btnLogin')
              input(type='hidden', name='_csrf', value='#{_csrf}')
          .col-md-3
            .vertical-bar
          .col-md-4
            form.form-horizontal(method='POST', action='/authentication/signup')
              .form-group
                input.form-control(type='email', placeholder= i18n('placeholderEmail'), name='email', required= true)
              .form-group
                button.btn.btn-default(type='submit')= i18n('btnChangePassword')
              input(type='hidden', name='_csrf', value='#{_csrf}')