.controls
	ul.nav.nav-pills
		li 
			a(href='/')= i18n('btnHome')

		if req.session.user.role === 'professor'
			if user_id
				li
					a(href='/user/' + user_id)= user_name
			li
				a(href='/courses')= i18n('btnCourse')

		if req.session.user.role === 'admin'
			li 
				a(href='/admin/courses')= i18n('btnCourse')
			li
				a(href='/admin/users')= i18n('btnUser')
		li
			a(href='/logout')= i18n('btnLogout')
