extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      include ../_account_controls
      .row
        h1= user.first_names
        h1= user.last_names
        h1= user.email
        form.form-horizontal(method='POST', action='/user/' + user.id + '/save', id='user-locale')
          .form-group
            select.form-control(form='user-locale', name='locale')
              - var locales = ['en', 'es']
              for locale in locales
                if user.locale === locale
                  option(selected='true')= locale
                else
                  option= locale
          .form-group
            button.btn.btn-default(type='submit') Save
          input(type='hidden', name='_csrf', value='#{_csrf}')
          input(type='hidden', name='id', value=user.id)