extends ../layout

block content
  .container
    include ../_flash_stage
  .container.container1
    .main-content
      .row
        h1= i18n('labelCourseTableHeader')
        table.table
          thead
            tr
              th= i18n('labelCourseCode')
              th= i18n('labelCourseSection')
          each course in courses
            tr
              td
                a(href='/course/' + course.id)= course.course_code
              td= course.section

