extends ../layout

block content
  .container(style="width: 50%; min-height: 400px;").topSpace1
    include ../_flash_stage
    .main-content
      include ../_account_controls
      .row
        h1= i18n('labelCourseTableHeader')
        table.table
          thead
            tr
              th= i18n('labelCourseCode')
              th= i18n('labelCourseSection')
          each course in courses
            tr
              td
                a(href='/course/' + course.id)= course.course_code
              td= course.section

