extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      include ../_account_controls
      .row
        if grades.length > 0
          h1= grades[0].course_code
          form(method='POST', action='/course/' + course_id + '/save')
            table.table
              thead
                tr
                  th= i18n('labelStudent')
                  th A
                  th B
                  th C
                  th D
                  th F
              tbody
                each grade in grades
                  tr
                    td= grade.student_number
                    td
                      if grade.value === 'A'
                        input(type='radio', name= grade.grade_id, value='A' checked)
                      else
                        input(type='radio', name= grade.grade_id, value='A')
                    td
                      if grade.value === 'B'
                        input(type='radio', name= grade.grade_id, value='B' checked)
                      else
                        input(type='radio', name= grade.grade_id, value='B')
                    td
                      if grade.value === 'C'
                        input(type='radio', name= grade.grade_id, value='C' checked)
                      else
                        input(type='radio', name= grade.grade_id, value='C')
                    td
                      if grade.value === 'D'
                        input(type='radio', name= grade.grade_id, value='D' checked)
                      else
                        input(type='radio', name= grade.grade_id, value='D')
                    td
                      if grade.value === 'F'
                        input(type='radio', name= grade.grade_id, value='F' checked)
                      else
                        input(type='radio', name= grade.grade_id, value='F')
            input(type='hidden', name='_csrf', value='#{_csrf}')
            button.btn.btn-default(type='submit', name='save_draft')= i18n('btnSaveDraft')
            button.btn.btn-default(type='submit', name='save_final')= i18n('btnSubmit')
        else
          h1= i18n('noGradesInCourse')