extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      include ../_account_controls
      .row
        if course.done
          include ../admin/_course_labels
        else
          if gradeType !== 0 || gradeType !== 1 || gradeType !== 2
            - var invalidGradeType = true

          if grades.length > 0
            h1= grades[0].course_code
            form(method='POST', action='/course/' + courseId + '/save')
              table.table
                thead
                  tr
                    th= i18n('labelStudent')
                    each gradeLabel in Grade.GRADE_TYPES[gradeType]
                      th= gradeLabel.toUpperCase()
                include ./_grading_table
              input(type='hidden', name='_csrf', value='#{_csrf}')
              button.btn.btn-default(type='submit', name='save_draft')= i18n('btnSaveDraft')
              button.btn.btn-default(type='submit', name='save_final')= i18n('btnSubmit')
          else
            if invalidGradeType
              h1= i18n('unableToDisplayGrades')
            else
              h1= i18n('noGradesInCourse')