extends ../layout

block content
  .container
    include ../_flash_stage
  .container.container1.paddingtop5
    .main-content
      .row
        if course.done
          include ../admin/_course_labels
        else
          if grades.length > 0 && typeof gradeType === 'number'
            h1= grades[0].course_code
            h3=i18n('coursesSemester') + " " + i18n('coursesYear')
            form(method='POST', action='/course/' + courseId + '/save')
              table.table
                thead
                  tr
                    th= i18n('labelStudent')
                    each gradeLabel in Grade.GRADE_TYPES[gradeType]
                      th= gradeLabel.toUpperCase()
                include ./_grading_table
              input(type='hidden', name='_csrf', value='#{_csrf}')
              button.btn.btn-default(type='submit', name='save_draft')= i18n('btnSaveDraft')
              button.btn.btn-default(type='submit', name='save_final')= i18n('btnSubmit')
          else
            h1= i18n('unableToDisplayGrades')